<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Location Information
      </div>
      <div class="item item-text-wrap">
           <h2><strong>Our Address</strong></h2>
            <address style="font-size: 100%">
              121, Clear Water Bay Road<br>
              Clear Water Bay, Kowloon<br>
              HONG KONG<br>
              <i class="ion ion-android-call"></i>: +852 1234 5678<br>
              <i class="ion ion-printer"></i>: +852 8765 4321<br>
              <i class="ion ion-ios-email"></i>:&nbsp;<a href="mailto:confusion@food.net">confusion@food.net</a>
           </address>      
      </div>
      <div class="button-bar">
          <a class="button icon-left ion-android-call button-positive" href="tel:+85212345678">Call</a>
          <a class="button icon-left ion-social-skype button-calm" href="skype:skype_user?call">Skype</a>
          <a class="button icon-left ion-ios-email button-balanced" href="mailto:confusion@food.net">Email</a>
      </div>
    </div>      
  </ion-content>
</ion-view>
